@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black;
  }
}

@layer components {
  .hover-animation {
    @apply hover:bg-gray-200 hover:bg-opacity-10 rounded-full cursor-pointer w-14 h-14 xl:w-auto xl:h-auto xl:py-3 xl:px-4 transition duration-200 ease-out;
  }

  .icon {
    @apply cursor-pointer w-9 h-9 hover:bg-blue-500 hover:bg-opacity-10 flex items-center justify-center rounded-full transition ease-out;
  }
}

em-emoji-picker {
  position: absolute;
  max-width: 320px;
  border-radius: 20px;
  margin-left: -80px;
  margin-top: 20px;
}
